---
import Layout from '../layouts/Layout.astro';
import UpcomingEvents from '../components/sections/upcoming-events/UpComingEvents.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="min-h-screen flex items-center justify-center bg-black">
			<div class="grid grid-cols-3 gap-4 w-full h-full">
			  <div class="bg-blue-500">Find Peace in the Cosmos: Your Relaxing Retreat Starts Here</div>
			  <div class="bg-green-500">
				<UpcomingEvents title='events'/>
			  </div>
			  <div class="bg-yellow-500"></div>
			</div>
		  </div>
		  
	</main>
</Layout>

<style>
	
</style>
