---
import Layout from '../layouts/Layout.astro';
import UpcomingEvents from '../components/sections/upcoming-events/UpComingEvents.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="min-h-screen flex items-center justify-center bg-black">
			<div class="grid grid-cols-3 gap-4 w-full h-full">
			  <div class="bg-blue-500">Find Peace in the Cosmos: Your Relaxing Retreat Starts Here</div>
			  <div class="bg-green-500">
				<UpcomingEvents title='events'/>
			  </div>
			  <div class="bg-yellow-500">
				Learn more
			  </div>
			</div>
		  </div>  
	</main>
	<div id="our-facilities" class="min-h-screen relative overflow-hidden flex flex-col">
		<!-- Full width section above the grid -->
		<div class="h-20vh flex items-center justify-center bg-gray-200">
		  <h2 class="text-3xl font-bold">Your journey into the universe starts here</h2>
		</div>
	  
		<!-- Parallax effect with fixed left column and scrolling right column -->
		<div class="flex flex-1">
		  <!-- Fixed left column -->
		  <div class="bg-blue-500 md:min-h-80vh fixed inset-0 md:relative z-10 flex-none md:w-1/4">
			<!-- Content goes here -->
		  </div>
		  <!-- Scrolling right column -->
		  <div class="bg-green-500 md:min-h-80vh overflow-y-auto flex-auto">
			<!-- Divide the right-hand side column into 6 vertical parts -->
			<div class="relative h-full">
			  <div class="bg-red-500 h-1/6"></div>
			</div>
			<div class="relative h-full">
			  <div class="bg-yellow-500 h-1/6"></div>
			</div>
			<div class="relative h-full">
			  <div class="bg-pink-500 h-1/6"></div>
			</div>
			<div class="relative h-full">
			  <div class="bg-purple-500 h-1/6"></div>
			</div>
			<div class="relative h-full">
			  <div class="bg-indigo-500 h-1/6"></div>
			</div>
			<div class="relative h-full">
			  <div class="bg-gray-500 h-1/6"></div>
			</div>
		  </div>
		</div>
	  </div>
	  
	  
	  
	  
</Layout>

<style>
	
</style>
